.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.container-drag {
  text-align: center;
}

.uncategorized {
  position: absolute;
  width: 150px;
  bottom: 0;
  left: 0;
  top: 35px;
  background-color: #EEEEEE;
  border-right: 1px dotted;
  overflow: hidden;
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #E0E0E0;
  width:100%;
}

.task-header {
  background-color: skyblue;
  display: block;
  padding: 5px;
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
}

.droppable {
  position: absolute;
  width: 150px;
  height: 35vh;
  bottom: 0;
  background-color: #9E9E9E;
  border-left: 1px dotted;
  min-height: 275px;
}

.droppable.alertFull {
  border: 3px dotted red;
  border-bottom: none;
}

.container-carelots {
  right: 0;
}
.container-carelittle {
  right: 160px;
}
.container-dontcare {
  right: 320px;
}

.draggable {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 5px auto;
}

.issueIcon {
  background: #ddd;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #aaa;
  height: 100px;
  width: 100px;
  margin: 6px auto;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.droppable .draggable {
  height: auto;
  width: 100%;
  padding: 5px 0;
}