header {
    background: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
}

.header-links {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
.header-links a {
    color: yellow;
    display: block;
    font-size: 0.8rem;
    line-height: 1.2;
}
.header-links a.active {
  color: lightgreen;
}
.header-links a.active:hover {
  text-decoration: none;
}